* {
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  overflow: hidden;
  background: #1f1f1f;
  font-size: 2vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scrollable {
  overflow-y: auto;
}

.text-right {
  text-align: right;
}

span.limited-text-length {
  overflow: hidden !important;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 4;
  box-orient: vertical;
}