.BillCard {
  display: flex;
  flex-direction: column;
  padding: 6px 6px 30vw 6px;
  max-height: 100%;
  overflow: auto;
}
.BillGrid {
  display: grid;
  grid-template-columns: 2px auto auto auto;
  column-gap: 4px;
  font-size: 0.8em;
  padding: 8px 8px 8px 0;
}
.BillGrid > * {
  padding: 8px 0;
}
