.AddAsset {
  display: flex;
  flex-direction: column;
  background: #2c2c2c;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 400ms cubic-bezier(0,1,0.5,1);
  z-index: 400;
}
.AddAssetHidden {
  transform: translateY(100%) translateY(6px);
}
.AddAssetContent {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 200vw;
  height: 100%;
  position: relative;
  transition: 600ms cubic-bezier(0,1,0.4,1);
}
.AddAssetContentTranslated {
  transform: translateX(-100vw);
}

.AddAssetContentScroll {
  width: 100vw;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}