.LoadBlock {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;

  transition: 200ms;
}
.visible {
  opacity: 75%;
  pointer-events: initial;
}