.Modal {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333a;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.hiddenTabInput {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
}
.box {
  max-height: 100vh;
  max-width: 768px;
  background: #222
}