.ActionButtons{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10vw;
  z-index: 500;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 5vw;
  justify-items: center;
  transform: translateY(10vw);
}
.BillButonHolder{
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.BillButonHolder > *{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}