.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  background: #222;
  color: #fcfcfc;
}
.loginForm {
  width: min(80vw, 400px);
}