.BillButton{
  width: calc(60vw/3);
  height: calc(60vw/3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms cubic-bezier(0,1.15,0.5,1);
  transform: translateY(0vh) scale(0);
}
.BillButtonVisible{
  transform: translateY(calc(-60vw / 3 - 2vw));
}