.SpotBills { /* 1900 = 400 + 5 * 300 */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  max-width: 100%;
}
.billHolder {
  padding: 4px;
}
/* see Dashboard.module.css to adjust */
@media screen and (max-width: 2038px) {
  .SpotBills {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (max-width: 1752px) {
  .SpotBills {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1466px) {
  .SpotBills {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1180px) {
  .SpotBills {
    grid-template-columns: repeat(2, 1fr);
  }
}