.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #222;
  color: #fcfcfc;
}
.loginForm {
  width: min(60vw, 400px);
}